.sectMoviesWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
}

.divMovies {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-auto-rows: auto;
    gap: 20px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center; /* centra horizontalmente */
}

.divMovies-movie img{
    height: 350px;
    width: 215px;
    cursor: pointer;
    border: double rgba(199, 132, 212, 0.6) 2.5px;
    border-radius: 10px;
}

.fa-heart{
    font-size: 1.5rem;
    color: crimson;
}

.movie-heart{
    position: absolute;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 75px;
}

.divMovies-movie:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.fa-heart:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}