.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
}

.sectDetailMovie {
    background-image: url('https://media.posterlounge.com/img/products/650000/643985/643985_poster.jpg');
    background-position: center center;
    background-attachment: fixed; 

    padding: 20px;
    max-width: 75%;
    max-height: 75%;
    overflow-y: auto;
    border-radius: 10px;
    position: relative;

    background-color: rgba(0,0,0,0.9);
    padding: 40px 50px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 40px; 
}

.poster-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.poster-container img{
    border: double purple 7px;
    border-radius: 10px;
}

.sectDetailMovie ul{
    list-style: none;
}

.sectDetailMovie > ul{
    background-color: rgba(199, 132, 212, 0.6);
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.sectDetailMovie > ul > li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 120);
    text-align: left;
    margin: 10px;
}

.detail-movie-ratings-list{
    margin-top: 5px;
}

li.liValue {
  margin-bottom: 10px;
}

.sectDetailMovie > i {
    position: sticky;
    top: 10px;
    font-size: 2rem;
    color: aqua;
    cursor: pointer;
}